<h1>New Article</h1>

<form action="/articles/?_method=POST" method="POST" enctype="application/x-www-form-urlencoded">

  <label for="title">Title:</label><input type="text" id="title" name="title" value="">
<br>
  <label for="body">Body:</label> <input type="text" id="body" name="body" value="">
<br>
  <label for="author">Author:</label> <input type="text" id="author" name="author" value="">
<br>
  <input type="submit" value="Submit">
</form>

{{> back}}