<h1>New Product</h1>

<form action="/products/?_method=POST" method="POST" enctype="application/x-www-form-urlencoded">

  <label for="name">Name:</label><input type="text" id="name" name="name" value="">
<br>
  <label for="price">Price:</label> <input type="text" id="price" name="price" value="">
<br>
  <label for="inventory">Inventory:</label> <input type="text" id="inventory" name="inventory" value="">
<br>
  <input type="submit" value="Submit">
</form>