<h1>Welcome to Store!</h1>

<form method="GET" action="/articles">
  <button type="submit">Go to Articles</button>
</form>
<br>
<br>
<form method="GET" action="/products">
  <button type="submit">Go to Products</button>
</form>